<div class="container my-5">
    <h1 class="mb-3">Add a New Employee</h1>
    <div class="row">
        <div class="col-6">
            <form [formGroup]="addEmpForm" (ngSubmit)="save()" class="add">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" formControlName="name" class="form-control" id="name"
                        placeholder="Full Name (required)"
                        [ngClass]="{'is-invalid': (addEmpForm.get('name')?.touched || addEmpForm.get('name')?.dirty) && !addEmpForm.get('name')?.valid}">
                    <div *ngIf="addEmpForm.get('name')?.errors?.['required']" class="form-text text-danger">Please enter
                        your Name!</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email"
                        placeholder="Email (required)"
                        [ngClass]="{'is-invalid': (addEmpForm.get('email')?.touched || addEmpForm.get('email')?.dirty) && !addEmpForm.get('email')?.valid}">
                    <div *ngIf="addEmpForm.get('email')?.errors?.['required']" class="form-text text-danger">Please
                        enter your email!</div>
                    <div *ngIf="addEmpForm.get('email')?.errors?.['email']" class="form-text text-danger">Please enter
                        valid email!</div>
                </div>

                <div class="mb-3">
                    <label for="department" class="form-label">Department</label>
                    <input type="text" formControlName="department" class="form-control" id="department"
                        placeholder="Email (required)"
                        [ngClass]="{'is-invalid': (addEmpForm.get('department')?.touched || addEmpForm.get('department')?.dirty) && !addEmpForm.get('department')?.valid}">
                    <div *ngIf="addEmpForm.get('department')?.errors?.['required']" class="form-text text-danger">Please
                        enter your department!</div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!addEmpForm.valid">Save</button>
            </form>
        </div>
    </div>

</div>