<div class="container my-5">
    <h1 class="mb-3">Add a New Employee</h1>
    <div class="row">
        <div class="col-6">
            <form [formGroup]="addEmpForm" (ngSubmit)="save()" class="add">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" formControlName="name" class="form-control" id="name"
                        placeholder="Full Name (required)"
                        [ngClass]="{'is-invalid': (addEmpForm.get('name')?.touched || addEmpForm.get('name')?.dirty) && !addEmpForm.get('name')?.valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="addEmpForm.get('name')?.errors?.['required']">Please enter your Name!</span>
                    </span>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email"
                        placeholder="Email (required)"
                        [ngClass]="{'is-invalid': (addEmpForm.get('email')?.touched || addEmpForm.get('email')?.dirty) && !addEmpForm.get('email')?.valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="addEmpForm.get('email')?.errors?.['required']">Please
                            enter your email!</span>
                        <span *ngIf="addEmpForm.get('email')?.errors?.['email']">Please enter
                            valid email!</span>
                    </span>
                </div>

                <div class="mb-3">
                    <label for="department" class="form-label">Department</label>
                    <input type="text" formControlName="department" class="form-control" id="department"
                        placeholder="Department (required)"
                        [ngClass]="{'is-invalid': (addEmpForm.get('department')?.touched || addEmpForm.get('department')?.dirty) && !addEmpForm.get('department')?.valid}">
                    <span class="invalid-feedback">
                        <span *ngIf="addEmpForm.get('department')?.errors?.['required']">Please enter your
                            department!</span>
                    </span>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!addEmpForm.valid">Save</button>
            </form>
        </div>
    </div>

</div>